* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

.new-article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.new-article article{
    width: 32%;
}
